.container {
    width: 90%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-6 {
    width: 50%;
    padding: 10px;
}

